/*
* @description app common style 
*
*/
@charset "utf-8";
/*************************** common style start   *******************************************/
html {
  font-size: 14px;
  font-size: 4.266667vw; /* 16px */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  background-color: #f7f7f7;
  color: #333333;
  font-family: PingFang-SC-Heavy, PingFangSC-Regular, PingFang SC;
  -moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/*************************** common style end   *******************************************/